/*
  Header component styles
*/
.header-icon {
  width: 12.5rem;
}

/*
  Common button size styles
*/
.btn-size-xs {
  padding: 0.125rem 0.25rem;
}

.btn-size-sm {
  padding: 0.25rem 0.5rem;
}

.btn-size-md {
  padding: 0.5rem 0.75rem;
}

.btn-size-lg {
  padding: 1rem 2rem;
}

/*
  OutlinedButton component styles
*/
.outlined-btn-base {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.outlined-button-light {
  background-color: theme(colors.lightSecondary.default / 15%);
  border: 1px solid theme(colors.lightSecondary.default / 50%);
  color: theme(colors.lightSecondary.default);
}
.outlined-button-dark {
  background-color: theme(colors.darkPrimary.default / 15%);
  border: 1px solid theme(colors.darkPrimary.default / 50%);
  color: theme(colors.darkPrimary.default);
}
.outlined-btn-base::before {
  opacity: 0.05;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
}
.outlined-button-dark::before {
  background-color: white;
}
.outlined-button-light::before {
  background-color: black;
}
.outlined-btn-base.btn-size-sm::before {
  transform: translateX(calc(-100% - 0.75rem));
}
.outlined-btn-base.btn-size-sm:hover::before {
  transform: translateX(-0.75rem);
}


/*
  ContainedButton component styles
*/
.default-contained-button-light {
  background: linear-gradient(to right, theme(colors.lightPrimary.default), theme(colors.lightSecondary.default));
  color: theme(colors.lightBackground.primary);
}

.default-contained-button-dark {
  background: linear-gradient(to right, theme(colors.darkTertiary.default), theme(colors.darkSecondary.default), theme(colors.darkPrimary.default));
  color: theme(colors.darkText.primary);
}

.plain-contained-button-light {
  background-color: theme(colors.lightBackground.secondary);
}
.plain-contained-button-dark {
  background-color: theme(colors.darkBackground.secondary);
}

.contained-btn-base {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.contained-btn-base::before {
  opacity: 0.05;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: 0px;
}

.default-contained-button-dark::before,
.plain-contained-button-dark::before {
  background-color: white;
}
.default-contained-button-light::before,
.plain-contained-button-light::before {
  background-color: black;
}

.contained-btn-base.btn-size-sm::before,
.contained-btn-base.btn-size-md::before {
  transform: translateX(calc(-100% - 0.75rem));
}

.contained-btn-base.btn-size-sm:hover::before,
.contained-btn-base.btn-size-md:hover::before {
  transform: translateX(-0.75rem);
}

.contained-btn-base.btn-size-lg::before {
  transform: translateX(calc(-100% - 2rem));
}

.contained-btn-base.btn-size-lg:hover::before {
  transform: translateX(-2rem);
}

/*
  IconButton component styles
*/
.icon-button-base {
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.2s;
}
.icon-button-light:hover {
  background-color: theme(colors.lightBackground.secondary);
}
.icon-button-dark:hover {
  background-color: theme(colors.darkBackground.secondary);
}
.icon-button-dark.fill > svg path {
  fill: theme(colors.darkText.secondary);
}
.icon-button-light.fill > svg path {
  fill: theme(colors.lightText.secondary);
}
.icon-button-dark.stroke > svg path {
  stroke: theme(colors.darkText.secondary);
}
.icon-button-light.stroke > svg path {
  stroke: theme(colors.lightText.secondary);
}

/*
  Card styles
*/
.card-base {
  border-radius: 0.5rem;
}

.card-dark {
  background-color: theme(colors.darkBackground.primary);
  color: theme(colors.darkText.primary);
}

.card-light {
  background-color: theme(colors.lightBackground.primary);
  color: theme(colors.lightText.primary);
}

.card-small {
  padding: 0.5rem;
}

.card-default {
  padding: 1.5rem;
}

/*
  Dropdown styles
*/
.dropdown-div {
  transform: translateY(-10%);
  transition: transform 0.2s ease;
}
.dropdown-div.open {
  transform: translateY(0);
}
.dropdown-card {
  opacity: 0;
  transition: 0.2s ease;
}
.dropdown-card.open {
  opacity: 1;
  z-index: 1000;
}

/*
  StandardDialog component
*/
.standard-dialog-base {
  cursor: pointer;
}
.standard-dialog-dark {
  background-color: theme(colors.darkBackground.primary / 80%);
}
.standard-dialog-light {
  background-color: theme(colors.lightBackground.primary / 30%);
}

/*
  MenuList component
*/
.menu-list-item {
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: theme(fontWeight.semibold);
  transition: 0.25s ease;
  user-select: none;
}
.menu-list-item.dark:hover {
  color: theme(colors.darkPrimary.default);
  background-color: theme(colors.darkPrimary.default / 15%);
}
.menu-list-item.dark:hover svg path {
  fill: theme(colors.darkPrimary.default);
}
.menu-list-item.light:hover {
  background-color: theme(colors.lightSecondary.default / 15%);
  color: theme(colors.lightSecondary.default);
}
.menu-list-item.light:hover svg path {
  fill: theme(colors.lightSecondary.default);
}

/*
  CircularLoader styles
*/
.default-loader-background-color--light {
  color: theme(colors.lightSecondary.default / 30%);
}

.default-loader-background-color--dark {
  color: theme(colors.darkPrimary.default / 30%);
}

.white-loader-background-color {
  color: #E5E7EB;
}

.white-loader-color {
  fill: #FFFFFF;
}

.blank-input {
  background-color: transparent;
}

/*
  Toastify styles
*/
.Toastify__toast-container--top-right {
  top: 3.5rem;
}

.Toastify__toast {
  font-family: theme(fontFamily.display);
  position: relative;
}

.Toastify__toast-theme--dark {
  background-color: theme(colors.darkBackground.primary);
}

.Toastify__toast-theme--light {
  background-color: theme(colors.lightBackground.primary);
}