/*
  Header component styles
*/
.header-icon {
  width: 12.5rem;
}

.contained-button-light {
  background: linear-gradient(to right, theme(colors.lightPrimary.default), theme(colors.lightSecondary.default));
  color: theme(colors.lightBackground.primary);
}

.contained-button-light:hover {
  background: linear-gradient(to right, theme(colors.lightPrimary.dark), theme(colors.lightSecondary.dark));
}

.contained-button-dark {
  background: linear-gradient(to right, theme(colors.darkTertiary.default), theme(colors.darkSecondary.default), theme(colors.darkPrimary.default));
  color: theme(colors.darkText.primary);
  overflow: hidden;
}

.contained-button-dark::before {
  background-color: black;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  transform: translateX(calc(-100% - 16px));
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: 0px;
}

.btn-size-normal {
  padding: 0.5rem 0.75rem;
}

.btn-size-large {
  padding: 1rem 2rem;
}

.contained-btn-base {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.contained-btn-base::before {
  background-color: black;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: 0px;
}

.contained-btn-base.btn-size-normal::before {
  transform: translateX(calc(-100% - 0.75rem));
}

.contained-btn-base.btn-size-normal:hover::before {
  transform: translateX(-0.75rem);
}

.contained-btn-base.btn-size-large::before {
  transform: translateX(calc(-100% - 2rem));
}

.contained-btn-base.btn-size-large:hover::before {
  transform: translateX(-2rem);
}

/*
  Card styles
*/
.card-base {
  border-radius: 0.5rem;
}

.card-dark {
  background-color: theme(colors.darkBackground.primary);
  color: theme(colors.darkText.primary);
}

.card-light {
  background-color: theme(colors.lightBackground.primary);
  color: theme(colors.lightText.primary);
}

.card-small {
  padding: 0.5rem 0.75rem;
}

.card-default {
  padding: 1.5rem;
}