/* PreLoader styles */
.pre-loader-div {
  z-index: -1;
  opacity: 0;
  transform: translateY(-3rem);
  transition: 0.5s ease;
}
.pre-loader-div.dark {
  background-color: theme(colors.darkBackground.secondary);
  color: theme(colors.darkText.secondary);
}
.pre-loader-div.light {
  background-color: theme(colors.lightBackground.secondary);
  color: theme(colors.lightText.secondary);
}

.pre-loader-div.loading {
  opacity: 1;
  transform: translateY(0);
  z-index: 100;
}

.loader-circle {
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
  position: relative;
}
.loader-circle:before,
.loader-circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0;
}
.loader-circle.dark:before,
.loader-circle.dark:after {
  border: 2px solid theme(colors.darkText.secondary);
}
.loader-circle.light:before,
.loader-circle.light:after {
  border: 2px solid theme(colors.lightText.secondary);
}
.loader-circle:before {
    transform: scale(0.8);
    animation: loader-circle-pulse 2s infinite linear;
}
.loader-circle:after {
    animation: loader-circle-pulse 2s 1s infinite linear;
}
@keyframes loader-circle-pulse {
    0% {
        transform: scale(0.05);
        opacity: 0;
    }
    60% {
        transform: scale(0.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.loader-icon {
  width: 8rem;
}

.main-form-card {
  max-width: 35rem;
}

.header {
  z-index: 30;
}

.setting-icon-btn {
  width: 2.5rem;
  height: 2.5rem;
}

.form-input {
  padding: 1rem 1.25rem;
}

.form-input-light {
  background-color: theme(colors.lightBackground.secondary);
}

.form-input-dark {
  background-color: theme(colors.darkBackground.secondary);
}

.header-connect-btn {
  width: 7.5rem;
}

/*
  Swap Button styles
*/
.swap-button-base {
  border-radius: 50%;
  height: 3rem;
  padding: 0.375rem;
  width: 3rem;
  overflow: hidden;
}

.swap-button-light {
  background: linear-gradient(to right, theme(colors.lightPrimary.default), theme(colors.lightSecondary.default));
}

.swap-button-dark {
  background: linear-gradient(to right, theme(colors.darkTertiary.default), theme(colors.darkSecondary.default), theme(colors.darkPrimary.default));
}

.swap-icon {
  width: 32px;
  height: 29px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.swap-button-base::before {
  opacity: 0.05;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
  transform: translateX(calc(-100% - 0.75rem));
}
.swap-button-dark::before {
  background-color: white;
}
.swap-button-light::before {
  background-color: black;
}
.swap-button-base:hover::before {
  transform: translateX(0);
}

.rotate .swap-icon {
  transform: rotate(180deg);
}

/*
  Token Selection button
*/
.token-select-btn::before {
  opacity: 0.05;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
  transform: translateX(calc(-100% - 0.75rem));
}
.token-select-btn-dark::before {
  background-color: white;
}
.token-select-btn-light::before {
  background-color: black;
}
.token-select-btn:hover::before {
  transform: translateX(-0.25rem);
}

/*
  ConnectWalletDialog styles
*/
@media (min-width: theme(screens.md)) {
  .connect-wallet-dialog {
    padding: 1.75rem 2rem;
  }
}

/*
  WalletConnectBtn styles
*/
.wallet-connect-btn {
  overflow: hidden;
}
.wallet-connect-btn-dark {
  background-color: theme(colors.darkBackground.secondary);
}
.wallet-connect-btn-light {
  background-color: theme(colors.lightBackground.secondary);
}
.wallet-btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.wallet-connect-btn::before {
  opacity: 0.05;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
  transform: translateX(calc(-100% - 1rem));
}
.wallet-connect-btn-dark::before {
  background-color: white;
}
.wallet-connect-btn-light::before {
  background-color: black;
}
.wallet-connect-btn:hover::before {
  transform: translateX(-1rem);
}
@media (min-width: theme(screens.md)) {
  .wallet-btn-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/*
  WalletDropdown styles
*/
.wallet-dropdown-copy-icon {
  padding: 0.25rem;
}

/*
  ConnectedWalletBtn styles
*/
.connected-wallet-btn {
  overflow: hidden;
  user-select: none;
}
.connected-wallet-btn-dark {
  background-color: theme(colors.darkBackground.secondary);
  color: theme(colors.darkText.primary);
}
.connected-wallet-btn-light {
  background-color: theme(colors.lightBackground.secondary);
  color: theme(colors.lightText.primary);
}
.connected-wallet-btn-icon {
  width: 1rem;
  height: 1rem;
}
.connected-wallet-btn::before {
  opacity: 0.05;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
  transform: translateX(calc(-100% - 1rem));
}
.connected-wallet-dropdown-arrow {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}
.connected-wallet-btn-dark > .connected-wallet-dropdown-arrow path {
  fill: theme(colors.darkPrimary.default);
}
.connected-wallet-btn-light > .connected-wallet-dropdown-arrow path {
  fill: theme(colors.lightSecondary.default);
}
.connected-wallet-btn:hover > .connected-wallet-dropdown-arrow {
  transform: rotate(-90deg);
}
.connected-wallet-btn-dark::before {
  background-color: white;
}
.connected-wallet-btn-light::before {
  background-color: black;
}
.connected-wallet-btn:hover::before {
  transform: translateX(-1rem);
}
@media (min-width: theme(screens.md)) {
  .connected-wallet-btn-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/*
  ConnectSubsectionWalletBtn styles
*/
.connect-subsection-wallet-label {
  text-align: start;
  width: 3.5rem;
  overflow: hidden;
}
.connect-subsection-wallet-label > span {
  transition: 0.25s ease;
  position: relative;
}
.connect-subsection-wallet-label::after {
  content: "Disconnect";
  position: absolute;
  right: -4.5rem;
  transition: right 0.25s ease;
  top: 5px;
}
.connect-subsection-wallet-btn:hover .connect-subsection-wallet-label > span {
  left: -4rem;
}

.connect-subsection-wallet-btn:hover .connect-subsection-wallet-label::after {
  right: calc(0.25rem + 1px);
}

/*
  SelectChainPage Styles
*/
.select-chain-page {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.select-chain-page.active {
  transform: translateX(0);
}
.back-btn {
  padding: 0.25rem;
}
.chevron-back {
  transform: rotate(180deg);
  width: 1.25rem;
  height: 1.25rem;
}

/*
  StatusIcon styles
*/
.error-icon path {
  fill: var(--toastify-color-progress-error);
}
.success-icon path {
  fill: var(--toastify-color-progress-success);
}
.warning-icon path {
  fill: var(--toastify-color-progress-warning);
}
.info-icon path {
  fill: var(--toastify-color-progress-info);
}