/*
  Header component styles
*/

.header-icon {
  width: 12.5rem;
}

/*
  OutlinedButton component styles
*/

.outlined-btn-base {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.outlined-button-light {
  background-color: rgb(91 134 229 / 15%);
  border: 1px solid rgb(91 134 229 / 50%);
  color: #5B86E5;
}

.outlined-button-dark {
  background-color: rgb(67 137 162 / 15%);
  border: 1px solid rgb(67 137 162 / 50%);
  color: #4389A2;
}

.outlined-btn-base::before {
  opacity: 0.05;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: -0.25rem;
}

.outlined-button-dark::before {
  background-color: white;
}

.outlined-button-light::before {
  background-color: black;
}

.outlined-btn-base.btn-size-sm::before {
  transform: translateX(calc(-100% - 0.75rem));
}

.outlined-btn-base.btn-size-sm:hover::before {
  transform: translateX(-0.75rem);
}

/*
  ContainedButton component styles
*/

.contained-button-light {
  background: linear-gradient(to right, #36D1DC, #5B86E5);
  color: #FFFFFF;
}

.contained-button-light:hover {
  background: linear-gradient(to right, #2ba7b0, #496bb7);
}

.contained-button-dark {
  background: linear-gradient(to right, #5C258D, #524E96, #4389A2);
  color: #F3F4F6;
  overflow: hidden;
}

.btn-size-xs {
  padding: 0.125rem 0.25rem;
}

.btn-size-sm {
  padding: 0.25rem 0.5rem;
}

.btn-size-md {
  padding: 0.5rem 0.75rem;
}

.btn-size-lg {
  padding: 1rem 2rem;
}

.contained-btn-base {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.contained-btn-base::before {
  background-color: black;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: 0px;
}

.contained-btn-base.btn-size-md::before {
  transform: translateX(calc(-100% - 0.75rem));
}

.contained-btn-base.btn-size-md:hover::before {
  transform: translateX(-0.75rem);
}

.contained-btn-base.btn-size-lg::before {
  transform: translateX(calc(-100% - 2rem));
}

.contained-btn-base.btn-size-lg:hover::before {
  transform: translateX(-2rem);
}

/*
  IconButton component styles
*/

.icon-button-base {
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.2s;
}

.icon-button-light:hover {
  background-color: #F3F4FF;
}

.icon-button-dark:hover {
  background-color: #374151;
}

.icon-button-dark.fill > svg path {
  fill: #9CA3AF;
}

.icon-button-light.fill > svg path {
  fill: #637381;
}

.icon-button-dark.stroke > svg path {
  stroke: #9CA3AF;
}

.icon-button-light.stroke > svg path {
  stroke: #637381;
}

/*
  Card styles
*/

.card-base {
  border-radius: 0.5rem;
}

.card-dark {
  background-color: #1F2A37;
  color: #F3F4F6;
}

.card-light {
  background-color: #FFFFFF;
  color: #111928;
}

.card-small {
  padding: 0.5rem;
}

.card-default {
  padding: 1.5rem;
}

/*
  Dropdown styles
*/

.dropdown-div {
  transform: translateY(-10%);
  transition: transform 0.2s ease;
}

.dropdown-div.open {
  transform: translateY(0);
}

.dropdown-card {
  opacity: 0;
  transition: 0.2s ease;
}

.dropdown-card.open {
  opacity: 1;
  z-index: 1000;
}

/*
  StandardDialog component
*/

.standard-dialog-base {
  cursor: pointer;
}

.standard-dialog-dark {
  background-color: rgb(31 42 55 / 65%);
}

.standard-dialog-light {
  background-color: rgb(255 255 255 / 65%);
}

/*
  MenuList component
*/

.menu-list-item {
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.menu-list-item.dark:hover {
  color: #4389A2;
  background-color: rgb(67 137 162 / 15%);
}

.menu-list-item.dark:hover svg path {
  fill: #4389A2;
}

.menu-list-item.light:hover {
  background-color: rgb(91 134 229 / 15%);
  color: #5B86E5;
}

.menu-list-item.light:hover svg path {
  fill: #5B86E5;
}

/*
  CircularLoader styles
*/

.default-loader-background-color--light {
  color: rgb(91 134 229 / 30%);
}

.default-loader-background-color--dark {
  color: rgb(67 137 162 / 30%);
}

.white-loader-background-color {
  color: #E5E7EB;
}

.white-loader-color {
  fill: #FFFFFF;
}